{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numerical root finder</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/images/aastlogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/math.js' %}"></script>
    <script src="{% static 'js/plotly-2.6.3.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>
<body style="min-height: 100vh;">
{% include 'calculator/header.html' %}
{% block content %}{% endblock %}
{% include 'calculator/footer.html' %}
{% include 'calculator/participate.html' %}
<script src="{% static 'js/custom.js' %}"></script>
</body>
