{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numerical root finder</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/images/aastlogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/math.js' %}"></script>
    <script src="{% static 'js/plotly-2.6.3.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static '/images/aastlogo.png' %}" alt="" width="45" height="45"
                 class="d-inline-block align-text-top">
            AASTMT
        </a>
    </div>
</nav>
{% block content %}{% endblock %}


<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-6 d-flex align-items-center">
        <a href="{% url 'home' %}" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        </a>
        <span class="text-muted">© 2021 AASTMT, Numerical methods project, DR.Ahmed Omar Hamed Mohamed</span>
    </div>
    <div class="col-md-4 d-flex">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static '/images/aastlogo.png' %}" alt="" width="45" height="45"
                     class="d-inline-block align-text-top">
            </a>
            <a data-bs-toggle="modal" href="#participate" role="button">Team github</a>


        </div>
    </div>
</footer>


<!-- Modal -->
{% include 'calculator/participate.html' %}
<script src="{% static 'js/custom.js' %}"></script>
</body>
