<div class="container" style="margin-top: 5%;">
    <form class="row g-3" id="calc" method="get" action="{% url 'calculate' %}">
        <div class="col-md-1">
            <label style="margin: auto;vertical-align: auto;">F(x) =</label>
        </div>
        <div class="col-md-9">
            <input type="text" name="formula" class="form-control" id="display">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" id="calculate">
                evaluate numerically
            </button>
        </div>
        <div class="col-md-6">
            <table style="margin: auto;">
                <tr>
                    <td class="cell"><input class="btn btn-primary" id="btn" type="button" value="1"
                                            OnClick="calc.display.value+='1'">
                    </td>

                    <td class="cell"><input class="btn btn-primary" id="btn" type="button" value="2"
                                            OnClick="calc.display.value+='2'">
                    </td>

                    <td class="cell"><input class="btn btn-primary" id="btn" type="button" value="3"
                                            OnClick="calc.display.value+='3'">
                    </td>

                    <td class="cell"><input class="btn btn-primary" id="btn" type="button" value="C"
                                            OnClick="calc.display.value=''">
                    </td>
                    <td colspan="2"><input id="btn" class="btn btn-primary" type="button" value="="
                                           OnClick="calc.display.value+='='">
                    </td>
                </tr>

                <tr>
                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="4"
                                            OnClick="calc.display.value+='4'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="5"
                                            OnClick="calc.display.value+='5'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="6"
                                            OnClick="calc.display.value+='6'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="-"
                                            OnClick="calc.display.value+='-'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="%"
                                            OnClick="calc.display.value+='%'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="cos("
                                            OnClick="calc.display.value+='cos('">
                    </td>
                </tr>

                <tr>
                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="7"
                                            OnClick="calc.display.value+='7'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="8"
                                            OnClick="calc.display.value+='8'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="9"
                                            OnClick="calc.display.value+='9'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="*"
                                            OnClick="calc.display.value+='*'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="n!"
                                            OnClick="calc.display.value+='!'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="sin("
                                            OnClick="calc.display.value+='sin('">
                    </td>
                </tr>

                <tr>
                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="."
                                            OnClick="calc.display.value+='.'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="0"
                                            OnClick="calc.display.value+='0'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="&#x3C4;"
                                            OnClick="calc.display.value+='&#x3C4;'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="+"
                                            OnClick="calc.display.value+='+'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="/"
                                            OnClick="calc.display.value+='/'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="tan("
                                            OnClick="calc.display.value+='tan('">
                    </td>
                </tr>

                <tr>
                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="e"
                                            OnClick="calc.display.value+='e'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="&#x3C0;"
                                            OnClick="calc.display.value+='&#x3C0;'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="^"
                                            OnClick="calc.display.value+='^'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="("
                                            OnClick="calc.display.value+='('">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value=")"
                                            OnClick="calc.display.value+=')'">
                    </td>

                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="log("
                                            OnClick="calc.display.value+='log('">
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><input id="btn" class="btn btn-primary" type="button" value="X"
                                           OnClick="calc.display.value+='X'">
                    </td>
                    <td colspan="3">
                        <input id="btn" type="button" class="btn btn-primary" value="sqrt("
                               OnClick="calc.display.value+='sqrt90'">
                    </td>
                    <td class="cell"><input id="btn" class="btn btn-primary" type="button" value="ln("
                                            OnClick="calc.display.value+='ln('">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <div class="col-12">
                <label for="precision" class="form-label">decimal precision</label>
                <input type="number" name="precision" class="form-control" id="precision" value="4">
            </div>
            <div class="col-12">
                <label for="iterations" class="form-label">Maximum iterations (optional)</label>
                <input type="number" name="iterations" class="form-control" id="precision">
            </div>
            <div class="col-12">
                <label for="error" class="form-label">error margin (&#8455;)</label>
                <input type="number" name="error" step="0.000001" class="form-control" id="error">
            </div>
            <div class="col-12" style="margin-top: 5%;">
                <div class="row">
                    <div class="col-md-4">
                        <label for="point1" class="form-label">initial point 1</label>
                        <input type="number" name="point1" step="0.000001" class="form-control" id="point1">
                    </div>
                    <div class="col-md-4">
                        <label for="point2" class="form-label">initial point 2</label>
                        <input type="number" name="point2" step="0.000001" class="form-control" id="point2">
                    </div>
                    <div class="col-md-4">
                        <label for="point3" class="form-label">initial point 3</label>
                        <input type="number" name="point3" step="0.000001" class="form-control" id="point3">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="Answer">
</div>