<div class="modal" id="participate" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Group members</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Moustafa mohamed wahdan</li>
                    <li class="list-group-item">Ahmed Tarek Soliman</li>
                    <li class="list-group-item">Toqa Mohamed Hosni</li>
                    <li class="list-group-item">Noor Hussam</li>
                    <li class="list-group-item">Mohamed Bassel</li>
                    <li class="list-group-item">Mohamed Hisham El Kafrawy</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">dismiss</button>
            </div>
        </div>
    </div>
</div>